/*小于980px时*/

@media only screen and (max-width: 980px) {
    .header-menu,
    .header-title,
    .content-article {
        width: 80%;
    }
    .search-other,
    .search-box {
        width: 40%;
    }
}


/*小于640px时*/

@media only screen and (max-width: 640px) {
    .public-header {
        height: 330px;
    }
    .header-menu,
    .header-title,
    .content-article {
        width: 90%;
    }
    .page-box,
    .search-other,
    .search-box {
        width: 50%;
    }
    .header-menu {
        margin-top: 48px;
    }
    .title-english {
        font-size: 2.3rem;
    }
    .title-chinese {
        font-size: 1.3rem;
    }
    .side-tool {
        right: 10px;
        bottom: 65px;
    }
}


/*小于480px时*/

@media only screen and (max-width: 480px) {
    .public-header {
        height: 300px;
    }
    .header-menu,
    .header-title,
    .content-article {
        width: 94%;
    }
    .public-content {
        margin-bottom: 0;
    }
    .page-box,
    .search-other,
    .search-box {
        width: 80%;
    }
    .header-menu {
        margin-top: 40px;
    }
    .title-english {
        font-size: 1.8rem;
    }
    .title-chinese {
        font-size: 1rem;
    }
    .side-tool {
        right: 5px;
    }
    .article-title {
        font-size: 1.3rem;
    }
    .content-article {
        padding-top: 15px;
    }
    .content-page {
        margin: 15px auto;
    }
    .article-inf span {
        font-size: 0.8rem;
    }
    .article-inf .inf-tag {
        margin-left: 5px;
    }
}