body {
    font-family: 'Bellefair', "新宋体", 'serif', 'Microsoft YaHei';
    position: relative;
    background-color: #f0f0f0;
}


/*所有鼠标事件*/


/*.menu-bars:hover,*/

.menu-home:hover,
.menu-search:hover {
    background-color: #1D3E53;
}


/*文字悬浮*/

.title-english:hover,
.title-chinese:hover {
    color: #efefef;
}


/*封面鼠标悬浮*/

.content-article .article-img:hover {
    box-shadow: 5px 12px 20px rgba(36, 37, 38, 0.13);
}

.page-box a:link,
.page-box a:visited,
.other-ul-li a:link,
.other-ul-li a:visited,
.footer-copy a:link,
.content-article a:link,
.footer-copy a:visited,
.content-article a:visited {
    color: #FFFFFF;
    transition: color 1s;
    -moz-transition: color 1s;
    -webkit-transition: color 1s;
}

.page-box a:link,
.page-box a:visited {
    font-weight: bold;
    color: #000000;
}

.page-box a:hover,
.other-ul-li a:hover {
    color: #F03861;
}

.footer-copy a:hover,
.content-article a:hover {
    color: #F6FEA1;
}


/*公用样式*/

a {
    text-decoration: none;
}


/*--搜索---*/

.public-search-box {
    display: none;
    width: 100%;
    height: 130px;
    color: #FFFFFF;
    background-color: #383746;
    position: absolute;
    top: 0;
    z-index: 999;
}

.search-box {
    width: 30%;
    background: #F15B42;
    position: relative;
    margin: 20px auto;
}

.search-box input,
.search-box button {
    border: none;
    outline: none;
}

.search-box input {
    width: 100%;
    height: 42px;
    padding-left: 13px;
}

.search-box button {
    background: none;
    height: 42px;
    width: 42px;
    cursor: pointer;
    position: absolute;
}

.search-box form {
    background: #F9F0DA;
    border-bottom: 2px solid #383746;
}

.search-box input,
.bar4 button {
    background: transparent;
}

.search-box button {
    top: 0;
    right: 0;
}

.search-box button:before {
    content: "\f178";
    font-family: FontAwesome;
    font-size: 20px;
    color: #be290e;
}


/*---结束---*/


/*关闭按钮*/

.search-close {
    position: absolute;
    top: 3px;
    right: 3px;
    z-index: 999;
}


/*分类*/

.search-other {
    width: 30%;
    height: 43px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.other-ul-li {
    display: inline-block;
    list-style: none;
}


/*头部*/

.public-header {
    width: 100%;
    height: 450px;
    display: table;
    background-position: center;
}


/*菜单+标题公用样式*/

.header-menu,
.header-title {
    width: 50%;
    height: 34px;
    display: block;
    margin: 0 auto;
    margin-top: 78px;
}


/*菜单内部按钮私有样式*/


/*.menu-bars,*/

.menu-home,
.menu-search {
    width: 34px;
    height: 100%;
    display: inline-block;
    color: #FFFFFF;
    background-color: #2A363B;
    font-size: 1rem;
    text-align: center;
    line-height: 34px;
    border-radius: 3px;
    /*
    * 去除间隙
    * margin-right: -3px;*/
}

.menu-close,
.menu-close:hover {
    background: none;
}


/*搜索按钮私有样式*/

.menu-search {
    cursor: pointer;
}


/*标题私有样式*/

.header-title {
    height: 75px;
}


/*标题内部文字公有样式*/

.title-english,
.title-chinese {
    width: 100%;
    color: #FFFFFF;
    text-align: center;
    text-shadow: 0 1px 1px #595959;
    font-weight: lighter;
}


/*标题内部文字私有样式*/

.title-english {
    height: 50px;
    font-size: 2rem;
}


/*标题内部文字私有样式*/

.title-chinese {
    height: 25px;
    font-size: 1.2rem;
}


/*---头部结束---*/


/*内容*/

.public-content {
    width: 100%;
    overflow: hidden;
}

.article-box {
    width: 100%;
}


/*文章*/

.content-article {
    width: 50%;
    padding-top: 25px;
    margin: 0 auto;
    border-radius: 3px;
    position: relative;
}


/*注意添加前缀*/

.public-content .article-title,
.public-content .article-inf {
    width: 100%;
    color: #FFFFFF;
    background-color: transparent;
    position: absolute;
    z-index: 2;
    margin: 0;
}


/*文章标题*/

.public-content .article-title {
    height: 40px;
    bottom: 50px;
    font-weight: normal;
}

.public-content .article-title a {
    padding-left: 15px;
}


/*文章信息*/

.public-content .article-inf {
    height: 25px;
    bottom: 10px;
}


/*文章封面*/

.public-content .article-img {
    width: 100%;
    height: auto;
    margin: 0;
    border-radius: 3px;
}


/*文章信息span公用样式*/

.public-content .article-inf span {
    display: inline-block;
    height: 85%;
    margin-left: 15px;
    margin-top: 1px;
}


/*文章信息日期*/

.public-content .article-inf .inf-date {
    width: 92px;
}


/*分页*/

.content-page {
    width: 100%;
    height: 30px;
    margin: 25px 0;
    text-align: center;
}


/*分页盒子*/

.page-box {
    width: 31%;
    height: 100%;
    margin: 0 auto;
}


/*分页信息*/

.content-page .page-span {
    display: inline-block;
    color: #71ADB5;
    background: none;
    padding: 0 5px;
}


/*页脚*/

.public-footer {
    width: 100%;
    height: 80px;
    background-color: #383746;
}


/*版权+备案等信息*/

.footer-copy,
.footer-record {
    text-align: center;
    color: #FFFFFF;
    padding-top: 20px;
    font-size: 0.9rem;
}


/*备案*/

.footer-record {
    padding-top: 0px;
}


/*网站工具条*/

.side-tool {
    position: fixed;
    bottom: 100px;
    right: 20px;
    padding: 0;
}

.side-tool li {
    cursor: pointer;
    text-align: center;
    width: 50px;
    height: 50px;
    color: #333;
    font-size: 1.8rem;
    background-color: #FFFFFF;
    border: 1px solid #dcdcdc;
    list-style: none;
    transition: .1s ease-in;
    -webkit-transition: .1s ease-in;
    -moz-transition: .1s ease-in;
    -o-transition: .1s ease-in;
    -ms-transition: .1s ease-in;
}

.side-tool li:hover {
    background-color: hsla(0, 0%, 71%, .1);
    transition: .1s ease-in;
    -webkit-transition: .1s ease-in;
    -moz-transition: .1s ease-in;
    -o-transition: .1s ease-in;
    -ms-transition: .1s ease-in;
}

.side-tool li i {
    line-height: 50px;
    display: inherit;
}


/*分享按钮样式*/

.swal-share {
    width: 50px;
    height: 50px;
    color: #FFFFFF;
    background-color: #2A363B;
    font-size: 1.8rem;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
}

.swal-share:hover {
    color: #F6FEA1;
    background-color: #1D3E53;
}