.page-box a:link,
.page-box a:visited,
.other-ul-li a:link,
.other-ul-li a:visited,
.footer-copy a:link,
.content-article a:link,
.footer-copy a:visited,
.content-article a:visited {
    @include  color-white;
    @include transition(color 1s);

}

.page-box a:link,
.page-box a:visited {
    font-weight: bold;
    color: #000000;
}

.page-box a:hover,
.other-ul-li a:hover {
    color: #F03861;
}

.footer-copy a:hover,
.content-article a:hover {
    color: #F6FEA1;
}