.public-content {
    @include width-100;
    overflow: hidden;
    .article-box {
        @include width-100;
        .content-article {
            @include width-50;
            margin: 25px auto;
            padding-bottom: 10px;
            border-radius: 3px;
            position: relative;
            background-color: #FFFFFF;
            .article-img {
                @include width-100;
                height: auto;
                margin: 0;
                border-radius: 3px;
                &:hover {
                    box-shadow: 5px 12px 20px rgba(36, 37, 38, 0.13);
                }
            }
            .article-body {
                @include article;
                .article-award {
                    width: 100%;
                    span {
                        cursor: pointer;
                        display: block;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        margin: 0 auto;
                        color: #FFFFFF;
                        background-color: #1EE494;
                        text-align: center;
                        font-size: 1.5rem;
                        line-height: 50px;
                    }
                }
            }
            .article-title {
                @include style-article-title;
                bottom: 50px;
                font-weight: 400;
                a {
                    padding-left: 15px;
                }
            }
            .article-inf {
                @include style-article-title;
                bottom: 10px;
                span {
                    display: inline-block;
                    margin-left: 15px;
                    margin-top: 1px;
                }
            }
        }
    }
    .content-page {
        @include width-100;
        margin: 25px auto;
        text-align: center;
        .page-box {
            width: 31%;
            height: 100%;
            margin: 0 auto;
            /* .previous-page{}*/
            .page-span {
                display: inline-block;
                color: #71ADB5;
                background: none;
                padding: 0 5px;
            }
            /*.next-page{}*/
        }
    }
}