a {
    text-decoration: none;
}


@mixin style-head-box {
    width: 50%;
    height: 34px;
    display: block;
    margin: 0 auto;
    margin-top: 78px;
}

@mixin style-menu {
    width: 34px;
    height: 100%;
    display: inline-block;
    font-size: 1rem;
    text-align: center;
    line-height: 34px;
    border-radius: 3px;
}

@mixin color-menu($color,$bcolor,$hcolor,$hbcolor) {
    color: $color;
    background: $bcolor;
    &:hover {
        color: $hcolor;
        background: $hbcolor;
    }
}


@mixin style-title {
    width: 100%;
    text-shadow: 0 1px 1px #595959;
    font-weight: lighter;
}

@mixin color-title($color,$hcolor){
    color: $color;
    &:hover {
        color: $hcolor;
    }
}


@mixin style-input {
    border: none;
    outline: none;
    height: 42px;
    background: transparent;
}

@mixin style-footer-p($top) {
    text-align: center;
    font-size: 0.9rem;
    padding-top: $top;
}

@mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    -ms-transition: $transition;
    transition: $transition;
}

@mixin style-article-title {
    width: 100%;
    color: white;
    background-color: transparent;
    position: absolute;
    z-index: 2;
    margin: 0;
}