.side-tool{
    position: fixed;
    bottom: 100px;
    right: 20px;
    padding: 0;
    li {
        cursor: pointer;
        text-align: center;
        width: 50px;
        height: 50px;
        color: #333;
        font-size: 1.8rem;
        background-color: #FFFFFF;
        border: 1px solid #dcdcdc;
        list-style: none;
        @include transition(.1s ease-in);
        &:hover {
            background-color: hsla(0, 0%, 71%, .1);
        }
        i {
            line-height: 50px;
            display: inherit;
        }

    }
    
     /*.tool-top{}
      *.tool-chart{}
      *.tool-share{}*/
}
.swal-share {
    width: 50px;
    height: 50px;
    @include  color-white;
    background-color: #2A363B;
    font-size: 1.8rem;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    &:hover {
        color: #F6FEA1;
        background-color: #1D3E53;
    }
}